* {
	margin: 0;
	padding: 0;
}

.body {
	width: 1500px;
	height: 1200px;
	margin: 0 auto;
	font-family: "microsoft yahei", Arial, Helvetica, sans-serif;
	color: #333;
	position: relative;
	font-size: 16px;

}

.top1 {
	width: 100%;
	height: 33px;
	background: linear-gradient(to right, #00008B, #0000CD, #7b68EF, #9932CC);
}

.box1 {
	width: auto;
	float: right;
	height: 100%;
	padding-right: 200px;

}

.box1 a {
	display: inline-block;
	width: auto;
	padding: 0px 10px;
	font-size: 1em;
	height: 33px;
	line-height: 33px;
	color: #fff;
	text-decoration: none;
}

.box1 a:hover {
	color: yellow;
}

.box1 span {
	display: inline-block;
	width: auto;
	float: left;
	height: 33px;
	color: #fff;
}

.bit {
	cursor: pointer;
	padding-left: 10px;

}

.bit img {
	border: 0px;
	vertical-align: top;
	padding-top: 6px;
	height: 24px;
}

.top2 {
	height: auto;
	width: 100%;
	background: linear-gradient(to right, #00008B, #0000CD, #7b68EF, #9932CC)
}

.logo {
	width: 1000px;
	height: 100px;
	margin: 0px 118.2px;
}

.logo1 img {
	width: 29%;
}

.logo1 {
	width: 1100px;
	height: 60px;
	float: left;
	margin: 0px 100px;
	padding-left: 15px;
}

/* 菜单栏 */
.fwall {
	width: 100%;
	height: 40px;
	position: relative;
	z-index: 1;
	background: linear-gradient(to right, #00008B, #0000CD, #7b68EF, #9932CC)
}

.fw {
	width: 1000px;
	background: linear-gradient(to right, #00008B, #0000CD, #7b68EF, #9932CC) height: 40px;
	margin: 0 auto;

}

ul {
	margin: 0;
	padding: 0;

}

li {
	list-style: none;
	display: block;
	width: 166px;
	text-align: center;
	line-height: 35px;
}

ul li a {
	text-decoration: none;
	font-family: "微软雅黑";
	color: white;
	font-size: 21px;
	display: block;
	width: 166px;
	height: 40px;
}

.fw li a:hover {
	width: 166px;
	height: 38px;
	color: #ff007f;
	display: inline-block;
}

.sort {
	display: none;
}

.sort a {
	color: #000;
}

.sort1 {
	display: none;
}

.sort1 a {
	color: #000;
}

.a1 {
	width: 166px;
	height: 40px;
	float: left;

}

.a2 {
	width: 166px;
	height: 40px;
	float: left;
}

.a3 {
	width: 166px;
	height: 40px;
	float: left;

}

.a4 {
	width: 166px;
	height: 40px;
	float: left;

}

.a5 {
	width: 166px;
	height: 40px;
	float: left;

}

.a3:hover .sort {
	display: block;
	height: 230px;
	background: url("../img/jian.png") center no-repeat;
	border-top: solid 4px #ffcc00;
	transition-duration: 3s;

}

.a4:hover .sort1 {
	display: block;
	height: 230px;
	background: url("../img/jian.png") center no-repeat;
	border-top: solid 4px #f00;
}

.Photo1 {
	width: 1200px;
	height: 400px;
	margin-left: 140px;
	border: 4px #f00 soild;
	background-image: url("../img/center.jpg");
	background-repeat: no-repeat;
	position: absolute;
	overflow: hidden;

}

.div0 {
	width: 125px;
	height: 70px;
	line-height: 70px;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background-color: rgba(255, 8, 8, .3);
	margin: 180px 0;
}

.div0>a {
	color: #fff;
	text-decoration: none;
}

.div0>a:hover {
	color: #000;
}

.new {
	width: 500px;
	height: 40px;
	position: relative;
	margin-top: 400px;
	margin-left: 260px;
}

.new>ul>li {
	width: 80px;
	height: 40px;
	float: left;
}

.new>ul>li:hover {
	border-top: 3px solid #f00;
}

.illustrate {
	margin-top: 5px;
	width: 1000px;
	height: 200px;
	font-weight: bold;
	margin-left: 350px;
	/* display: none; */
	/* background-color: #f00; */
}

.work {
	margin-top: 5px;
	width: 1000px;
	height: 200px;
	font-weight: bold;
	margin-left: 350px;
	display: none;
	/* background-color: #f00; */
}

.set {
	margin-top: 5px;
	width: 1000px;
	height: 200px;
	font-weight: bold;
	margin-left: 350px;
	display: none;
	/* background-color: #f00; */
}

.table>table{
	border:1px;
	height:200px;
	width:700px;
	/* cellspacing:0; */
	text-align:center;
	margin-top: 5px;
	background-color: #000;
}
tr{
	background-color: #fff;
}
.contact {
	margin-top: 5px;
	width: 1000px;
	height: 200px;
	font-weight: bold;
	margin-left: 350px;
	display: none;
	/* background-color: #f00; */
}

.span {
	width: 60px;
	font-size: 30px;
	border-bottom: 3px solid #f00;
}

.nav {
	margin: 20px;
	text-indent: 2em;

}

.indent {
	text-indent: 2em;
}

.illustrate>.span::before {
	width: 122px;
	height: 65px;
	border: none;
	content: url("../img/center1.jpg");
}

.work>.span::before {
	width: 122px;
	height: 65px;
	border: none;
	content: url("../img/工作.jpg");
}

.set>.span::before {
	width: 122px;
	height: 65px;
	border: none;
	content: url("../img/center1.jpg");
}

.contact>.span::before {
	width: 122px;
	height: 65px;
	border: none;
	content: url("../img/机构.jpg");
}

.bottom {
	float: left;
	position: relative;
	top: 100px;
	background-image: url("../img/footer.png");
	width: 100%;
	height: 40px;
	/* margin: 0 15px auto; */
	margin-top: 280px;
}

.bottom a {
	color: #ffffff;
	position: relative;
	top: 12px;
	font-family: "微软雅黑";
}
